.loading{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
    max-width: 100%;
}

.loading div{
    width: 10vmax;
    height: 10vmax;
    border-bottom: 5px solid rgb(163, 155, 155);
    border-radius: 50%;
    animation: rotateLoading infinite 500ms infinite;
}


@keyframes rotateLoading{
    to{
        transform: rotateZ(-360deg);
    }
}